.search {
  &__form {
    margin: 2.4rem 0;
  }

  &__bar {
    height: 6.9rem;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    padding: 2.4rem;
    background: $color-grey-light;
    font-size: 1.8rem;
  }
}
