.search__tags {
  display: flex;
  gap: 1.5rem;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.7rem;
  height: 3.7rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: white;
  border: none;
  border-radius: $border-radius;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;

  &--blue {
    background: $color-blue;
  }

  &--green {
    background: $color-green;
  }

  &--red {
    background: $color-red;
  }
}